@page "/addcontact"

@using CMS.Data
@using CMS.DB
@using CMS.FormModels
@inject ContactService contactService



<h1>Add a Contact </h1>

<div class="container">
    <EditForm Model="@newContact" OnValidSubmit="@submitHandler">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label>First Name: </label>
            <InputText id="firstName" @bind-Value="newContact.FirstName" class="form-control" />
        </div>
        <div class="form-group">
            <label>Last Name: </label>
            <InputText id="lastName" @bind-Value="newContactForm.LastName" class="form-control" />
        </div>
        <div class="form-group">
            <label>Birth Date: </label>
            <InputDate id="birthDate" @bind-Value="newContactForm.BirthDate" class="form-control" />
        </div>
        <div class="form-group">
            <label>Phone Number: </label>
            <InputText id="phoneNumber" @bind-Value="newContactForm.PhoneNumber" class="form-control" />

        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </EditForm>
</div>

@code {
    private ContactModel newContactForm = new ContactModel();

    private async void submitHandler()
    {
        Contact newContact = new Contact();
        newContact.LastName = newContactForm.LastName;
        newContact.FirstName = newContactForm.FirstName;
        newContact.PhoneNumber = newContactForm.PhoneNumber;
        newContact.BirthDate = newContactForm.BirthDate;


        await Task.Run(() => contactService.AddContact(newContact));
    }
}
